@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    color: white;
}

#head{
    margin: 0px;
}
#head{
    display: block;
}
#nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0px;
    height: 55px;
}

#logo{
    display: flex;
    margin-left: 25px;

}
#logo #image{
    width: 50px;
    margin-right: 25px;

}
#logo h1{
    margin-top: 14px;
}

#attribute ul   {
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    margin-top: 14px;
    
}
#attribute ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}
#attribute ul li a{
    text-decoration: none;
}
#attribute ul li a:hover{
     font-weight: bold;
  
}


#contain{
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.contact-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #2b272a;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.container {
    max-width: 800px;
    margin-top: 0 auto;
}

.contact-form h5 {
    text-align: center;
    
    color: #181717;
    font-family: 'poppins';
}

.contact-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #69275c;
    text-align: center;
}

.contact-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background: #d5eff1;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {

    color: black    ;
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img {
    max-width: 100%;
}

.btn,
button,
input {
    border-radius: 35px;
}

.btn:hover,
button:hover {
    color: #bcb9bc;
    transition: 0.5s ease;
    border-radius: 0px;
}

.contact-form form {
    margin: 30px 0;
}

.contact-form input,
textarea {
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #2d2d2d;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}

.contact-form input:focus {
    background:#d5eff1;
    border: 1px solid #535152;
}

.contact-form button {
    font-size: 18px;
    color: #f8f8f8;
    width: 100%;
    background: #000000;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #010101;

}

#add {
    color: #000000;
}